label {
    font-weight: 500;   
}

.chopsticksdrk {
    height: 15px;
    width: 100px;
    color: red;
}

section{
    width: 100%;
    height: auto;
    position: relative;
    padding: 3rem 0;
    margin: auto;
}

section a img{
    width: 335px;
    height: auto;
}

.foot{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
}

.hospitality{
    transition: opacity .5s linear 0s;
}

.hospitality:hover{
    opacity: 55%;
}

nav{
    position: sticky;
    z-index: 998;
    background-color: black;
}

.logo-container{
   width: 150px;
   height: 90px;
}
.logo{
    max-width: 100%;
    height: auto;
}

.nav-link{
    font-size: .95rem;
    font-weight: 300;
}

.dropdown-list{
    background-color: rgb(227, 37, 38, .5);
    border-radius: 0;
}